body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
input{
  padding: 0;
  border: 0;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #region Header */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  margin: 0 auto;
  
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  /* height: 72px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  width: 115;
  height: 24;
  margin-right: 76px;
}
.logo-span {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-item {
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.studio-after {
  color: #404bbf;
}
.studio-after::after {
  content: "";
  width: 100%;
  left: 0;
  position: absolute;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #endregion Header */

/* #region Hero */
.hero {
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 72px 52px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-mobile.jpg);
  background-clip: padding-box;
  max-width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-mobile-2x.jpg);
  }
} 

.section-title {
  font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
  margin-bottom: 72px;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion Hero */

/* #region About Us */
.about-us {
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  /* justify-content: center; */
}
.about-item-icon {
  display: none;
}

.about-item-title {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
  margin-bottom: 8px;
}
.about-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion About Us */

/* #region Our Team */
.team {
  background-color: #f4f4fd;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.team-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  
  }
.team-image-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-image-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.image-desc-container {
  padding: 32px 0 32px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  fill: #f4f4fd;
}
/* #endregion Our Team */

/* #region Our Portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}
.portfolio-list-item {
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-cover {
  transform: translate(0);
}

.portfolio-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
img {
  display: block;
  max-width: 100%;
}
.portfolio-item-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* #endregion Our Portfolio */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-span-footer {
  color: #f4f4fd;
}
.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.logo-footer-text {
  margin-right: 120px;
}
.footer-socials {
  margin-right: 80px;
}
.footer-socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icon {
  fill: #f4f4fd;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-form-wrapper {
}
.footer-form-text {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  border: 1px solid #fff;
  color: #fff;
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: #fff;
}

.footer-button {
  display: flex;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
justify-content: center;
align-items: center;
color: #fff;
min-width: 165px;
height: 40px;
background-color: #4d5ae5;
border: none;
border-radius: 4px;
}

.footer-send-icon {
  margin-left: 16px;
  fill: #fff;
}
/* #endregion Footer */

/* #region Backdrop-modal */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-close-btn{
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  background-color: #E7E9FC;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), backgroung-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
width: 24px;
height: 24px;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus, .modal-close-btn:hover{
fill: #fff;
background-color: #404BBF;
border: none;
}
.modal-close-icon{
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  margin-bottom: 16px;
}
.form-wrapper-cont{
  margin-bottom: 8px;
}
.modal-label{
  display: block;
font-weight: 400;
font-size: 12px; 
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.modal-cont-input {
position: relative;
}
.modal-input{
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: transparent;

}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill:  #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.form-wrapper-cont-comment {
margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 360px;
height: 120px;
padding: 8px 16px;;
outline: transparent; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
resize: none;
background-color: transparent;
}

.modal-textarea::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}
/* #endregion Backdrop-modal */

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-cont-checkbox {
  margin-bottom: 24px;

}
.label-checkbox {
  cursor: pointer;
  font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
}
.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: transparent;
}

.checkbox-icon {
  fill: #f4f4fd;
}
.checkbox-link {
line-height: 133%;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.checkbox:checked + .label-checkbox > .custom-checkbox {
 background-color: #404bbf;
 fill: #F4F4FD;
border: none;
}

.modal-button {
  display: block;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
}

/* #region Tablet */
@media screen and (min-width:768px) {
  .container {
    max-width: 768px;
  }
  .hero{
    padding: 112px 136px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-tablet.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-tablet-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .hero-container {
    padding: 0;
  }
  .about-list {
    gap: 72px 24px;
  }
  .about-list-item {
    width: calc((100% - 24px) / 2);
  }
  .team-list {
    gap: 64px 24px;
  }
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-list-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 24px) / 2)
  }
}
/* #endregion Tablet */

/* #region Desktop */
@media screen and (min-width:1158px) {
   section {
    padding-top: 120px;
    padding-bottom: 120px;
   }
  .container {
    max-width: 1158px;
    padding-left: 15px;
  padding-right: 15px;
  }
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-desktop.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-desktop-2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .about-list-item {
    width: calc((100% - 72px) / 4);
  }
  .about-item-wrap {
    display: block;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-item-icon {
  display: block;
}
.about-item-title {
  font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: left;
}
.about-item-text {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455
}

.portfolio-list {
  gap: 48px 24px;
}
.portfolio-list-item {
  box-shadow: none;
  width: calc((100% - 48px) / 3);
}
}
/* #endregion Desktop */